<div class="p-1 text-center">
<d>This site build using <a href="https://astro.build/">astro</a> present by <a href="https://website.axcora.com">axcora technology</a> developer <a href="https://creativebydre.vercel.app">creativebydre</a>
</d>
</div>